# https://help.github.com/articles/dealing-with-line-endings/
# https://github.com/alexkaratarakis/gitattributes

* text=auto

# The above will handle all files NOT found below

*.md       text
*.tex      text diff=tex
*.adoc     text
*.textile  text
*.mustache text
*.csv      text
*.tab      text
*.tsv      text
*.txt      text
*.sql      text

# Graphics
*.png      binary
*.jpg      binary
*.jpeg     binary
*.gif      binary
*.tif      binary
*.tiff     binary
*.ico      binary
*.eps      binary
# SVG treated as an asset (binary) by default.
*.svg      text

# Properties
*.json     text
*.toml     text
*.xml      text
*.yaml     text
*.yml      text

# Scripts
*.bash     text eol=lf
*.fish     text eol=lf
*.sh       text eol=lf
# These are explicitly windows files and should use crlf
*.bat      text eol=crlf
*.cmd      text eol=crlf
*.ps1      text eol=crlf

# JVM
*.java          text diff=java
*.gradle        text diff=java
*.java          text diff=java
*.kt            text diff=kotlin
*.kts           text diff=kotlin
*.properties    text
*.jar           binary

# Text files where line endings should be preserved
*.patch    -text

#
# Exclude files from exporting
.gitattributes export-ignore
.gitignore     export-ignore

# https://github.com/github/linguist/blob/v7.24.1/docs/overrides.md
docs/**         linguist-documentation
site/**         linguist-documentation
